@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #3c3836;
    color: #d79921;
}

.header {
    padding: 2.8rem;
}

.header-text {
    font-size: 4.8rem;
    color: #d79921;
    font-weight: 500;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
    align-items: center;
    gap: 9.6rem;
    margin-left: 9.6rem;
}

.grids {
    display: grid;
    width: 600px;
    height: 600px;
    box-shadow: 0 0 32px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.grid {
    height: 100%;
    width: 100%;
    opacity: 1;
    cursor: crosshair;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-self: start;
    gap: 1.2rem;
}

.btn {
    display: block;
    background: none;
    background-color: #3c3836;
    border: solid 2px #d79921;
    color: white;
    padding: 0.4rem 0;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 2px;
}

.color-picker {
    background: none;
    border: none;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.slider-value {
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 0.6rem;
    border-radius: 9px;
    background-color: rgb(216, 155, 34);
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #cc241d;
    border: none;
    cursor: pointer;
}

.selected {
    background-color: #cc241d;
    color: white;
    padding: 0.6rem 0;
    border: none;
}
